<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <%= if !is_nil(@current_scope) and @current_scope.user do %>
      <meta name="channel-token" content={Phoenix.Token.sign(@conn || @socket, "user socket", @current_scope.user.id)} />
      <script>
        window.userToken = document.querySelector("meta[name='channel-token']").getAttribute("content");
      </script>
    <% end %>
    <.live_title default="MindSanctuary" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    <script>
      (() => {
        const setTheme = (theme) => {
          if (theme === "system") {
            localStorage.removeItem("phx:theme");
            document.documentElement.removeAttribute("data-theme");
          } else {
            localStorage.setItem("phx:theme", theme);
            document.documentElement.setAttribute("data-theme", theme);
          }
        };
        if (!document.documentElement.hasAttribute("data-theme")) {
          setTheme(localStorage.getItem("phx:theme") || "system");
        }
        window.addEventListener("storage", (e) => e.key === "phx:theme" && setTheme(e.newValue || "system"));

        window.addEventListener("phx:set-theme", (e) => setTheme(e.target.dataset.phxTheme));
      })();
    </script>
  </head>
  <body>
    <nav class="w-full relative z-10 px-4 sm:px-6 lg:px-8 py-3">
      <div class="flex items-center justify-between">
        <%= if @current_scope && @current_scope.user do %>
          <div class="flex items-center gap-2">
            <.link href={~p"/dashboard"} class="flex items-center gap-2 font-semibold text-gray-900 hover:text-indigo-600">
              <.icon name="hero-home" class="w-5 h-5" />
              <span>Home</span>
            </.link>
          </div>
        <% end %>
        <ul class="menu menu-horizontal ml-auto flex items-center gap-4">
          <%= if @current_scope do %>
            <!-- <li>
              {@current_scope.user.email}
            </li> -->
            <li>
              <.link href={~p"/users/settings"}>Settings</.link>
            </li>
            <li>
              <.link href={~p"/users/log-out"} method="delete">Log out</.link>
            </li>
          <% else %>
            <li>
              <.link href={~p"/users/register"}>Register</.link>
            </li>
            <li>
              <.link href={~p"/users/log-in"}>Log in</.link>
            </li>
          <% end %>
          <Layouts.theme_toggle/>
        </ul>
      </div>
    </nav>
    {@inner_content}
  </body>
</html>
